.end-game-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-overlay);
  z-index: 2;
}

.end-game-container__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  
  width: 25vw;
  height: 50vh;

}

.end-game-popup {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  
  border-radius: 20px;
  border: var(--pink-neon-color) 5px solid ;
  
  background-color: #111;
  box-shadow: 0 0 30px 1px var(--pink-neon-color);

  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 7rem 0;
}

.end-game-popup__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3rem;

  color: var(--title-color);
}

.end-game-popup__header h1 {
  color: var(--title-color);
  font-size: 6rem;
  text-shadow: 0 0 9px var(--pink-neon-color);

  /* ALTERNATIVE: UNCOMMENT TO SEE */
  font-family: var(--alternative-font);
}

.end-game-popup__score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.end-game-popup__score-container .summary {
  color: var(--title-color);
  font-size: 2rem;
}
.end-game-popup__score-container .score {
  color: var(--title-color);
  font-size: 20rem;
}

.end-game-popup__btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 15rem;
  width: 100%;
}

.end-game-popup__btn {
  width: 20%;
  border: none;
  background-color: transparent;
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--link-off);
  font-family: inherit;

}

.end-game-popup__btn:hover {
  color: var(--link-on);
  text-shadow: 0 0 9px var(--link-on-light-cast);
  transition: all .1s ease;
}