.leaderboard-first-popup-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(17, 0, 18, 0.9);
    z-index: 2;
}
  
.leaderboard-first-popup-container__inner {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

    width: 25vw;
    height: 50vh;
}
  
.leaderboard-first-popup {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;

    border-radius: 20px;
    border: var(--pink-neon-color) 5px solid ;

    background-color: #111;
    box-shadow: 0 0 30px 1px var(--pink-neon-color);

    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.leaderboard-first-popup__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 3rem;
    
    color: var(--title-color);
}
.leaderboard-first-popup__header h1 {
    color: var(--title-color);
    font-size: 6rem;
    font-family: 'Tilt Neon';
}

.leaderboard-first-popup__input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.leaderboard-first-popup__input-container h2 {
    font-size: 1.8rem;
    color: var(--title-color) ;
}

.leaderboard-first-popup__input-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;
    width: 100%;
    height: 100%;
}


/* NAME PROMPT */

.name-prompt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5rem;
}

.name-prompt-container input {
    background-color: #111;
    color:var(--title-color);
    font-size: 1.8rem;
    font-family: inherit;
    width: 70%;
    height: 8rem;
    border-radius: 10px;
    border: var(--pink-neon-on) 1px solid;
    padding-left: 1rem;
    transition: all .1s ease-in-out;
}
.name-prompt-container input::placeholder {
    font-family: inherit;
    color: var(--link-off);
    transition: all .1s ease-in-out;
  }
.name-prompt-container input:focus {
    outline: var(--pink-neon-on) 2px solid;
    box-shadow: 0 0 25px 2px var(--pink-neon-color);
    transition: all .1s ease-in-out;
}


/* AVATAR SELECTION */

.avatar-selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
.avatar-selection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;
}
.avatar-selection .avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    border: var(--pink-neon-off) 2px solid;
    transition: all .1s ease-in-out;
}
.avatar-selection .avatar img{
    width: 105%;
    height: 105%;
    object-fit: cover;
    object-position: center;
}
.avatar-selection .avatar input {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
}
.avatar.is-checked {
    border: var(--pink-neon-on) 2px solid;
    box-shadow: 0 0 25px 5px var(--pink-neon-color);
    transition: all .1s ease-in-out;
}


/* SAVE AND CANCEL BUTTON */

.leaderboard-first-popup-btn-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 100%;
}

.leaderboard-first-popup__btn {
    width: 20%;
    border: none;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
    color: var(--link-off);
    font-family: inherit;
}

.leaderboard-first-popup__btn:hover {
    color: var(--link-on);
    transition: all 0.2s ease-in-out;
}