.die {
  background-color: red;
  display: block;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  margin: 0 5px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;

  transition: transform is ease-in-out;

}

.die.locked {
  background-color: grey;
}

.die.rolling {
  background-color: orange;
  transform: rotate(70deg);
}