.room {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 7rem;
  border: var(--link-off) 2px solid ;
  border-radius: 10px;
  transition: all .2s ease-in-out;
}

.reverse {
  flex-direction: row-reverse;
}

.room button {
  position: relative;
  z-index: 1;
  width: 84%;
  height: 100%;
  flex-shrink: 0;

  color: var(--link-off);
  font-size: 3rem;
  font-family: var(--alternative-font);
  
  border: none;
  border-radius: 10px 0 0 10px;

  cursor: pointer;

  background-color: transparent;
  transition: all .2s ease-in-out;
}

.reverse button{
  border-radius: 0 10px 10px 0;
}

.room:hover {
  border: var(--link-on) 2px solid ;
  box-shadow: 0 0 20px 1px var(--pink-neon-color);
  transform: scale(1.05);
  transition: all .2s ease;
}
.room:active {
  border: var(--link-on) 2px solid ;
  box-shadow: 0 0 20px 10px var(--pink-neon-color);
  transform: scale(1.2);
  transition: all .2s ease;
}
.room:hover button{
  color: var(--link-on);
  text-shadow: 0 0 9px var(--link-on-light-cast);
  transition: all .2s ease-in-out;
}

.room div {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: black;
  border-radius: 8px;
  border: var(--link-off) 1px solid ;
}

.room:hover div {
  border: var(--link-on) 1px solid ;
}

.room div p {
  color: #5e5e5e;
  font-size: 1.7rem;
}

.room:hover div p {
  color: #dedede;
}


/* ROOM IS GRANTED */

.room.is-granted {
  border: var(--link-on) 2px solid ;
  transform: scale(1);
  box-shadow: 0 0 20px 2px var(--pink-neon-color);
  overflow: hidden;
  
  animation-name: granting-bonus;
  animation-fill-mode: backwards;
  animation-duration: .2s;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
}

@keyframes granting-bonus {
  0% {
    border: var(--link-on) 2px solid ;
    box-shadow: 0 0 20px 1px var(--pink-neon-color);
    transform: scale(1);
  }
  50% {
    border: var(--link-on) 2px solid ;
    box-shadow: 0 0 20px 20px var(--pink-neon-color);
    transform: scale(1.2);
  }
  100% {
    border: var(--link-on) 2px solid ;
    box-shadow: 0 0 20px 1px var(--pink-neon-color);
    transform: scale(1);
  }
}

/* ROOM IS DISABLED  */

.room.is-disabled:hover,
.room.is-disabled:hover button {
  box-shadow: unset;
  transform: unset;
  color: var(--link-off);
  border: var(--link-off) 2px solid ;
  text-shadow: unset;
  cursor: unset;
}

.room.is-disabled:hover button {
  border: none;
}

.room.is-disabled:hover div {
  border: var(--link-off) 1px solid ;
}

.room.is-disabled:hover div p {
  color: #5e5e5e;
}

/* ROOM IS POTENTIAL */

.room.is-potential {
  border: var(--link-on) 1.5px solid ;
  /* box-shadow: 0 0 20px 1px var(--pink-neon-color); */
  transition: all .2s ease-in-out;
}
.room.is-potential:hover {
  border: var(--link-on) 2px solid ;
  box-shadow: 0 0 20px 5px var(--pink-neon-color);
  transition: all .2s ease-in-out;
}

.room.is-potential button {
  color: var(--link-on);
  text-shadow: 0 0 9px var(--link-on-light-cast);
  cursor: default;
  transition: all .2s ease-in-out;
}
.room.is-potential div {
  border: var(--link-on) 1px ease-in-out ;
  border-radius: 8px;
  transition: all .2s ease-in-out;
}
.room.is-potential div p {
  color: #dedede;
  transition: all .2s ease-in-out;
}

/* ROOM IS USED */

.room.is-used {
  border: var(--link-on) 2px solid ;
  box-shadow: 0 0 20px 10px var(--pink-neon-color);
}

.room.is-used:hover {
  transform: scale(1);
  transition: all .2s ease;
}

.room.is-used button,
.room.is-granted button {
  color: var(--link-on);
  text-shadow: 0 0 9px var(--link-on-light-cast);
  cursor: default;
}
.room.is-used div,
.room.is-granted div {
  border: var(--link-on) 1px solid ;
}
.room.is-used div p,
.room.is-granted div p {
  color: #dedede;
}
