.roll-dice-btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.roll-dice-btn {
  cursor: pointer;
  font-size: 5rem;
  font-weight: 900;
  font-family: 'Tilt Neon', cursive;
  line-height: 5rem;
  
  width: 50%;
  height: 10rem;
  border: transparent 4px solid;
  border-radius: 20px;
 
  border: var(--pink-neon-off) 5px solid;
  color: var(--pink-neon-off);
  background-color: var(--pink-neon-color);

  flex-grow: 0;

  box-shadow: 0 0 0 0 var(--pink-neon-color);
  transition: all .1s ease;
}

.roll-dice-btn.game-on {
  animation-name: boot-up-effect;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-direction: normal;
  animation-timing-function: linear;
}

@keyframes boot-up-effect {
  0% { 
    border: var(--pink-neon-off) 5px solid;
    box-shadow: 0 0 40px 1px var(--pink-neon-color);
   }
  50% { 
    border: var(--pink-neon-on) 5px solid;
    box-shadow: 0 0 40px 30px var(--pink-neon-color);
   }
  100% { 
    border: var(--pink-neon-off) 5px solid;
    box-shadow: 0 0 40px 1px var(--pink-neon-color);
   }
}

.roll-dice-btn:hover {
  position: relative;
  border: var(--pink-neon-on) 5px solid;
  color: var(--pink-neon-on);
  box-shadow: 0 0 40px 10px var(--pink-neon-color);
  transition: all .1s ease;
}

.roll-dice-btn:active {
  box-shadow: 0 0 20px 1px var(--pink-neon-color);
  transform: translateY(4px);
  transition: all .1s ease;
}

.roll-dice-btn.is-disabled {
  transform: unset;
  cursor: default;
  background-color: #a149a2; 
  transition: all .1s ease;
}
.roll-dice-btn.is-disabled:hover,
.roll-dice-btn.is-disabled:active {
  position: relative;
  border: var(--pink-neon-off) 5px solid;
  color: var(--pink-neon-off);
  box-shadow: unset;
  transition: all .1s ease;
}
.roll-dice-btn.is-disabled:active {
  transform: unset;
  transition: all .1s ease;
}
