.god-container {  
  margin: auto;
  width: 100vw;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30rem;
  position: relative;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: fill;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1; */
}

.home-title__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home-title__letter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flickering {
  animation-name: flickering-effect;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes flickering-effect {
  0% {
    opacity: .5;
  }
  2% {
    opacity: 0;
  }
  4% {
    opacity: 0.5;
  }
  6% {
    opacity: 0;
  }
  8% {
    opacity: .5;
  }
  10% {
    opacity: 0;
  }
  12% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.god-container button {
  border: none;
  color: white;
  cursor: pointer;
  font-family: inherit;
  background-color: transparent;
  font-size: 3rem;
  text-shadow: 0 0 10px white;

  animation-name: blinking-effect;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.god-container button:hover {
  animation-name: none;
}

@keyframes blinking-effect {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
