.god-container {  
  margin: auto;
  width: 100vw;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  position: relative;
}

.home-content-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.home-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  width: 100%;
  height: 10vh;
  z-index: 1;
}

.home-header-container li a {
  color: var(--title-color);
  text-shadow: 0 0 10px white;
  text-decoration: none;
  font-size: 1.4rem;
}
.home-header-container li a:hover {
  color: var(--pink-neon-color);
  transition: all .1s ease-in-out;
  animation-name: flickering-effect;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-title__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home-title__letter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.god-container button {
  border: none;
  color: white;
  cursor: pointer;
  font-family: inherit;
  background-color: transparent;
  font-size: 2.5rem;
  text-shadow: 0 0 10px white;

  animation-name: blinking-effect;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.god-container button:hover {
  animation-name: none;
}
@keyframes blinking-effect {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flickering {
  animation-name: flickering-effect;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes flickering-effect {
  0% {
    opacity: .5;
  }
  2% {
    opacity: 0;
  }
  4% {
    opacity: 0.5;
  }
  6% {
    opacity: 0;
  }
  8% {
    opacity: .5;
  }
  10% {
    opacity: 0;
  }
  12% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.hanging {
  transform-origin: top;
  animation-name: hanging-effect;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes hanging-effect {
    0% {
      transform: rotate(4deg);
    }
    /* 50% {
      transform: rotate(-8deg);
    } */
    100% {
      transform: rotate(-5deg);
    }
}
