.leaderboard-end-game-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(17, 0, 18, 0.9);
    z-index: 2;
}
  
.leaderboard-end-game-container__inner {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50vw;
    height: 30vh;

    z-index: 5;
    justify-content: center;
    align-items: center;
}
  
.leaderboard-end-game-popup {
    display: flex;
    position: relative;
    height: 80%;
    width: 50%;

    border-radius: 20px;
    border: var(--pink-neon-color) 5px solid ;

    background-color: #111;
    box-shadow: 0 0 30px 1px var(--pink-neon-color);

    justify-content: center;
    flex-direction: column;

}
  
.leaderboard-end-game-popup__header {
    color: var(--title-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.leaderboard-end-game-popup__header h2 {
    background-color: transparent;
    color: var(--title-color);
    border: none;
    font-size: 4rem;
    letter-spacing: 1rem;
    text-shadow: 0 0 9px var(--pink-neon-color);

    /* ALTERNATIVE: UNCOMMENT TO SEE */
    font-family: var(--alternative-font);
}

.leaderboard-end-game-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.leaderboard-end-game-popup__btn {
    width: 20%;
    border: none;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;

    color: white;
    font-family: inherit;
}

.leaderboard-end-game-popup__btn:hover {
    color: var(--pink-neon-color);
    transition: all 0.2s ease-in-out;
}