.score__container {
  width: 100%;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.score__inner-container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  gap: 5rem;
  padding: 0 3rem;
}

.score__decoration {
  width: 50%;
  height: 1rem;
  border-radius: 20px;
  position: relative;

  background-color: var(--pink-neon-off);
  box-shadow: 0 0 0 0 var(--pink-neon-color);
  transition: all .6s;
}
.score__decoration::before {
  content: '';
  position: absolute;
  top: 2rem;
  left: 0;
  width: 100%;
  height: 1rem;
  border-radius: 20px;

  background-color: var(--pink-neon-off);
  box-shadow: 0 0 0 0 var(--pink-neon-color);
  transition: all .9s;
}
.score__decoration::after {
  content: '';
  position: absolute;
  bottom: 2rem;
  left: 0;
  width: 100%;
  height: 1rem;
  border-radius: 20px;

  background-color: var(--pink-neon-off);
  box-shadow: 0 0 0 0 var(--pink-neon-color);
  transition: all .3s;
}

.lights-up.score__decoration::before {
  background-color: var(--pink-neon-on);
  box-shadow: 0 0 30px 8px var(--pink-neon-color);
  transition: all .4s;
}
.lights-up.score__decoration {
  background-color: var(--pink-neon-on);
  box-shadow: 0 0 30px 8px var(--pink-neon-color);
  transition: all .8s;
}
.lights-up.score__decoration::after {
  background-color: var(--pink-neon-on);
  box-shadow: 0 0 30px 8px var(--pink-neon-color);
  transition: all 1.2s;
}


.score__inner-container p {
  flex-shrink: 0;
  color: var(--pink-neon-on);
  font-family: var(--alternative-font);
  text-shadow: 0 0 9px var(--link-on-light-cast);
  font-size: 10rem;
  text-align: center;
  transition: all .3s;
}
p.is-incremented {
  transform: scale(1.5);
  color: var(--title-color);
  transition: all .3s;
}
