.game-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5rem 0 3rem 0;
}

.game-header h1 {
  color: var(--title-color);
  font-size: 4rem;
}

