.god-container {  
  margin: auto;
  max-width: 900px;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-container {
  width: 100%;
  height: 80%;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
  border-radius: 20px;
  border: var(--pink-neon-color) 5px solid;

  background-color: #111;
  box-shadow: 0 0 30px 1px var(--pink-neon-color);

  transition: all .1s ease;
}

.lights-up.game-container::after {
  content: '';
  position: absolute;
  top: 5px;
  left: -7px;
  height: 1px;
  width: 1px;
  background-color: var(--pink-neon-on);
  border-radius: 50%;
  
  /* COMMENT ONE IN TO SEE OTHER COLORS FOR THE TRAVELING LIGHT */
  box-shadow: 0 0 30px 30px var(--pink-neon-on);
  /* box-shadow: 0 0 30px 30px #6acbe3; */
  /* box-shadow: 0 0 30px 30px #c0ffec; */
  /* box-shadow: 0 0 30px 30px #e3e1b2; */
  
  opacity: 1;
  transition: opacity .5s ease;

  animation-name: moving-light-transition;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-direction: normal;
  animation-timing-function: linear;
}

@keyframes moving-light-transition {
  0% { height: 50px; width: 1px; }

  25% { height: 1px; width: 1px;
        top: 100%; left: 0; }

  26% { height: 1px; width: 50px; }

  50% { height: 1px; width: 1px;
        top: 100%; left: 100%; }

  51% { height: 50px; width: 1px; }

  75% { height: 1px; width: 1px;
        top: 0%; left: 100%; }

  76%{ height: 1px; width: 50px; }

  100% { height: 1px; width: 1px;
         top: 0%; left: 0%; }
}

.lights-up {
  border: #f0befa 5px solid;
  box-shadow: 0 0 40px 10px var(--pink-neon-color);
  transition: all .1s ease;
}

.yahtzee-celebration.god-container:after {
  content: 'Yahtzee!';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(230, 230, 230);
  font-size: 20rem;
  font-style: italic;
  z-index: 2;
  text-shadow: 0 0 10px white;

  animation-name: yahtzee-celebration;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
}

@keyframes yahtzee-celebration {
  0% {
    top: 50%;
    left: 150%;
  }
  30% {
    top: 50%;
    left: 50%;
  }
  70% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 50%;
    left: -150%;
  }
}