.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding-bottom: 7rem;
}

.navbar-container li {
  list-style: none;
  font-size: 1.9rem;
}

.navbar-container li a {
  color: var(--link-off);
  text-decoration: none;
}

.navbar-container li a:hover {
  color: var(--link-on);
  text-decoration: none;
}